@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@plugin "@iconify/tailwind4" {
  prefixes: boxicons;
}

:root {
  --max-width: 50em;
  --content-padding: 2rem;

  --content-width: min(var(--max-width), 100% - var(--content-padding) * 2)
}

@theme {
  --font-sans: "Poppins", sans;
  --font-heading: "Archivo Black";
  --color-text: var(--color-zinc-300);
  --color-text-light: var(--color-zinc-50);
}

@utility mx-responsive {
  width: var(--content-width);
  margin-inline: auto;
}
