@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-background: var(--color-zinc-950);
	--color-foreground: var(--color-zinc-50);

	--color-text-light: var(--color-zinc-100);
	--color-text-light-muted: var(--color-zinc-400);

	--color-surface-50: var(--color-zinc-900);
	--color-surface-100: var(--color-zinc-800);
	--color-surface-200: var(--color-zinc-700);

	--font-sans: "Poppins", sans;
	--font-heading: "Archivo Black"
}

@utility heading {
	font-family: var(--font-heading);
}
